.top:hover {
    background-color: yellow;
}

.top {
    color: white;
    padding: 20px;
}

.container {
    display: flex;
    height: calc(100vh - 40px);
}

.left:hover {
    background-color: red;
}

.left,
.right {
    flex: 1;
    padding: 20px;
}

.right:hover {
    background-color: blue;
}