html {
    background-color: darkgray;
}

p {
    font-size: 18px;
    font-family: Verdana;
}

h1 {
    font-size: 30px;
    font-family: Verdana;
    color: black;
}


.note {
    font-size: 3em;
}

.somecolor {
    background-color: yellow;
}

#someothercolor {
    color: red;
}

img {
    padding: 0.5em;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: blue;
}

table {
    border-collapse: collapse;
}

table td,
th {
    border: 1px solid black;
}

tr:nth-child(even) {
    /* Change bg color of even-indexed table rows */
    background-color: #d2d2d2;
}

li:nth-child(odd) {
    /* Change bg color of even-indexed table rows */
    background-color: purple;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper div {
    width: 200px;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-rows: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.gridA {
    border: 1px solid white;
    padding: 20px;
    background-color: orange;
}