.bingo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.grid-unit.red {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    padding: 10px;
    text-align: center;
}

/* Style for when grid unit is clicked */
.grid-unit.green {
    border: 1px solid rgb(0, 0, 0);
    background-color: green;
    padding: 10px;
    text-align: center;
}