#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.img-container {
  background-color: darkblue;
  border: 50px solid darkblue;
}

.R2talk {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.R2beeps {
  color: white;
  font-size: 20px;
  font-style: italic;
}