.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100px;
}

.flexbox div {
    width: 200px;
    /*margin-right: 10px;
    margin-left: 10px;*/
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 2px;
}

.flexbox2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;

}

.flexbox2 div {
    background-color: red;
    width: 15%;
    border: 1px solid black;
}

.flexbox2 :nth-child(2) {
    background-color: red;
    width: 39%;
    border: 1px solid black;
}