html {
    background-color: darkgoldenrod
}

/*p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}*/

#car3-1 {
    background-color: red;
    font-size: 14px;
}

div {
    background-color: blue;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 30px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 10px;
    border-style: dotted;
    border-width: thick;
}