.sudoku {
    display: grid;
    grid-template-columns: repeat(9, 58px);
}

.square {
    width: 50px;
    height: 50px;
    border: 3px solid lightgrey;
}


#quantity-18,
#quantity-19,
#quantity-20,
#quantity-21,
#quantity-22,
#quantity-23,
#quantity-24,
#quantity-25,
#quantity-26 {
    border-bottom-color: black;
}

#quantity-27,
#quantity-28,
#quantity-29,
#quantity-30,
#quantity-31,
#quantity-32,
#quantity-33,
#quantity-34,
#quantity-35 {
    border-top-color: black;
}

#quantity-54,
#quantity-55,
#quantity-56,
#quantity-57,
#quantity-58,
#quantity-59,
#quantity-60,
#quantity-61,
#quantity-62 {
    border-top-color: black;
}

#quantity-45,
#quantity-46,
#quantity-47,
#quantity-48,
#quantity-49,
#quantity-50,
#quantity-51,
#quantity-52,
#quantity-53 {
    border-bottom-color: black
}

#quantity-72,
#quantity-73,
#quantity-74,
#quantity-75,
#quantity-76,
#quantity-77,
#quantity-78,
#quantity-79,
#quantity-80 {
    border-bottom-color: black
}

#quantity-0,
#quantity-9,
#quantity-18,
#quantity-27,
#quantity-36,
#quantity-45,
#quantity-54,
#quantity-63,
#quantity-72 {
    border-left-color: black;
}

#quantity-0,
#quantity-1,
#quantity-2,
#quantity-3,
#quantity-4,
#quantity-5,
#quantity-6,
#quantity-7,
#quantity-8 {
    border-top-color: black;
}

#quantity-2,
#quantity-11,
#quantity-20,
#quantity-29,
#quantity-38,
#quantity-47,
#quantity-56,
#quantity-65,
#quantity-74 {
    border-right-color: black;
}

#quantity-3,
#quantity-12,
#quantity-21,
#quantity-30,
#quantity-39,
#quantity-48,
#quantity-57,
#quantity-66,
#quantity-75 {
    border-left-color: black;
}

#quantity-5,
#quantity-14,
#quantity-23,
#quantity-32,
#quantity-41,
#quantity-50,
#quantity-59,
#quantity-68,
#quantity-77 {
    border-right-color: black;
}

#quantity-6,
#quantity-15,
#quantity-24,
#quantity-33,
#quantity-42,
#quantity-51,
#quantity-60,
#quantity-69,
#quantity-78 {
    border-left-color: black;
}

#quantity-8,
#quantity-17,
#quantity-26,
#quantity-35,
#quantity-44,
#quantity-53,
#quantity-62,
#quantity-71,
#quantity-80 {
    border-right-color: black;
}